# Python
__pycache__/
*.pyc

# Ambiente
venv/
.venv/

# Segredos
.env

# Editores
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Dados

temp_inputs/

# container 
.devcontainer/

exit/Meta49_preenchido.xlsx